#garage {
    padding: 50px 0;
    .garage-image {
        width: 530px;
        img {
            width: 100%;
        }
    }
    .garage-desc {
        font-family: $openLight;
        p {
            margin-bottom: 20px;
            line-height: 1.5;
            a {
                color: $color1;
                font-family: $openSemiBold;
                &:hover {
                    color: $color2;
                    text-decoration: none;
                    transition: all .3s;
                }
            }
        }
    }
}