header {
    font-family: $font1;
    font-size: 0.9rem;
    .topnav {
        background-color: $color1;
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        .topnav-contact {
            display: flex;
            .topnav-phone {
                display: flex;
                align-items: center;
                margin-right: 25px;
                img {
                    margin-right: 10px;
                }
                a {
                    color: $color3;
                    &:hover {
                        color: $color2;
                        text-decoration: none;
                        transition: all 0.3s;
                    }
                }
            }
            .topnav-mail {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
                a {
                    color: $color3;
                    &:hover {
                        color: $color2;
                        text-decoration: none;
                        transition: all .3s;
                    }
                }
            }
        }

        .topnav-social {
            display: flex;
            align-items: center;
            color: $color3;
            i {
                font-size: 20px;
                color: $color3;
                margin-left: 10px;
                &:hover {
                    color: $color2;
                    transition: all .3s;
                }
            }
        }
    }

    .desk-nav {
        padding: 10px 25px;
        box-shadow: 1px 1px 5px grey;
        background: $color4;
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .desk-nav-logo {
                width: 140px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .desk-nav-menu {
                #menu-desktop {
                    display: flex;
                    text-transform: uppercase;
                    li {
                        margin-right: 15px;
                        a {
                            border-radius: 2px;
                            color: $color1;
                            padding: 10px;
                            font-size: 0.95rem;
                            &:hover {
                                color: #fff;
                                background-color: #0A0571;
                                text-decoration: none;
                                transition: all .3s;
                            }
                        }
                    }
                    li:last-child {
                        margin-right: 0;
                    }
                    .current-menu-item {
                        background-color: $color1;
                        border-radius: 2px;
                        a {
                            color: $color4;
                        }
                    }
                    .dropdown:hover > .dropdown-menu {
                        display: block;
                    }
                    .dropdown-menu {
                        li {
                            text-align: center;
                            margin-right: 0;
                            border-bottom: 1px solid $color3;
                            a {
                                padding: 12px 0;
                            }
                        }
                    }
                }
            }
        }

    }
    .mobile-nav {
        display: none;
    }
}


